{% extends 'base.html.twig' %}

{% block title %}Page de Profil - Historique Réservations{% endblock %}

{% block body %}
<div class="mb-4">
    <a type="button" class="btn btn-custom" href="{{ path('profile_home', {id: user.id}) }}">Retour à votre profil</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <td>Date de réservation</td>
            <td>Heure de réservation</td>
            <td>Nombre de convives</td>
        </tr>
    </thead>
    <tbody>
    {% for booking in user.booking %}
        <tr class="text-center">
            <td>{{ booking.dateBooking|date('d/m/y') }}</td>
            <td>{{ booking.timeBooking|date('H:i') }}</td>
            <td>{{ booking.seats }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
