{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">Réinitialiser mon mot de passe par email</h5>
    <p class="card-text">
        <ol>
            <li>Entrez l’adresse e-mail associée à votre compte ci-dessous.</li>
            <li>Vous allez recevoir un email, cliquez sur le lien pour choisir un nouveau mot de passe.</li>
            <li>Après la validation de votre nouveau mot de passe, vous êtes connecté(e) à votre compte !</li>
        </ol>
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
    </p>
    </div>
</div>
{% endblock %}

