{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <h1>Carte</h1>

    <table class="table">
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{dish.name}}</td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.price }} €</td>
                <td>{{ dish.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
