{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h5>Page non trouvée</h5>
            <p>La page que vous recherchez n'existe pas </p>
            <a href="{{ path('home') }}">Retour à l'accueil</a>
        </div>
    </section>
</main>
{% endblock %}
